
/* Variables
-------------------------------------------------------------- */
$font-title: 'Roboto Condensed', sans-serif;
$font-stack: 'Roboto Condensed', sans-serif;
$font-paragraph: 'Open Sans', sans-serif;
$font-stack-titles: 'Roboto Condensed', sans-serif;
$second-font-stack: 'Archivo+Black', sans-serif;
$font-btn: 'Montserrat', sans-serif;
$default-color: #000000;
$primary-color: #1B1464;
$second-color:#AD0E24;
$third-color:#F3F5F9;
$hover-color:#AD0E24;
$white-color:#ffffff;
$footer-color:#0B0826;
$second-footer-color:#00244D;
